/*
#  nexiles-patrol: #00323a
#  nexiles-green: #76B41F
#
#
#
*/


@font-face {
    font-family: MerriweatherSans-Light;
    font-style: normal;
    font-weight: lighter;
    src:url("fonts/Merriweather_Sans/MerriweatherSans-Light.ttf");
}
@font-face {
    font-family: MerriweatherSans-Regular;
    font-style: normal;
    font-weight: normal;
    src:url("fonts/Merriweather_Sans/MerriweatherSans-Regular.ttf");
}
@font-face {
    font-family: MerriweatherSans-Bold;
    font-style: normal;
    font-weight: bold;
    src:url("fonts/Merriweather_Sans/MerriweatherSans-Bold.ttf");
}
@font-face {
    font-family: MerriweatherSans-ExtraBold;
    font-style: normal;
    font-weight: bolder;
    src:url("fonts/Merriweather_Sans/MerriweatherSans-ExtraBold.ttf");
}

@font-face {
    font-family: PT-Mono;
    font-style: normal;
    font-weight: normal;
    src:url("fonts/PT_Mono/PTM55FT.ttf");
}

body {
    font-family: "MerriweatherSans-Light";
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "MerriweatherSans-Bold"!important;
    color: #76B41F;
}
h1, h2 {
    border-bottom: 1px dotted #ccc;
}
h2, h3, h4, h5 {
    color: #111111;
}

/* -- hyperlink styles ------------------------------------------------------ */
pre{
    font-family: "PT-Mono"!important;
    background: none repeat scroll 0 0 #eee;
    border: 1px dotted #555;
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}
a {
    color: #666666;
    text-decoration: none;
}

a:visited {
    color: #666666;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    margin-top: 28px;
    margin-bottom: 28px;
}

div.admonition {
    padding: 8px 20px 8px 8px;
}

div.note {
    background-color: #ffe9c1;
    border-left: 12px solid rgb(118, 180, 31);  /* nexiles green */
}

div.warning {
    background-color: #ffe4e4;
    border-left: 12px solid #f66;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
}

div.topic {
    background-color: #eee;
}

p.admonition-title {
    display: inline;
}

p.admonition-title:after {
    content: ":";
}


/* vim: set ft=css ts=4 sw=4 expandtab tw=78 : */
